* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

.center {
	text-align: center;
}

.sidebar {
	float: left;
	padding: 2px;
	width: 10%;
	font-size: 14px;
	border: 2px solid green;
	background-color: white;
}

ul#languages-one li {
	display:inline;
	list-style-type: circle;
}

ul#languages-two li {
	display:inline;
	list-style-type: circle;
}

ul#languages-three li {
	display:inline;
	list-style-type: circle;
}

#welcome {
	font-size: 30px;
}

.topbarlinks {
	float: right;
	
}

