* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	min-width: 300px;
}

.center {
	text-align: center;
}

.sidebar {
	float: left;
	padding: 2px;
	width: 10%;
	font-size: 14px;
	border: 2px solid rgb(216, 216, 216);
	background-color: white;

}

ul#languages-one li {
	display:inline;
	list-style-type: circle;
}

ul#languages-two li {
	display:inline;
	list-style-type: circle;
}

ul#languages-three li {
	display:inline;
	list-style-type: circle;
}

.inline-image {
	width: 80%;
	margin: 60px;
}

.paragraph-shrink {
	padding: 60px 0;
	margin-right: 60px;
}

#welcome {
	font-size: 30px;
}

.topbarlinks {
	float: right;
	
}

.firstParagraph {
	background-color: #e8f8f3;
}

.secondParagraph {
	background-color: #dff2f8;
}

.thirdParagraph {
	background-color: #e8f8f3;
}

.fourthParagraph {
	background-color: #dff2f8
}

.fifthParagraph {
	background-color:#e6dbf5;
}


